/* 
@media(max-width:390px){
    .smallerdevice {
        position: relative;
        left: 10rem;
    }  
} */
.list-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.list-container2{
    display: flex;
    width: 100%;
    justify-content: center;
}
.list-item1{
    margin-right: 2rem;
    width:300px;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 20px;
}

.list-item{
    margin-right: 1rem;
    width:300px;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 90px;
}
.box-title{
    margin:0px;
    text-decoration:none;
    color:#444444;
    font-weight:300;
    padding-top:10px;
    font-weight: 500;
    padding-left: 10px;
}
.box-link{
    text-decoration:none;
    color:inherit;
}
.box-link:hover{
    text-decoration:none;
    color:inherit;
}
.box-content{
    padding-left:12px;
    margin-bottom: 10px;
    font-size: 13.4px;
    color: #7b7a7a;
} 
.box-content1{
    padding-left:12px;
    font-size: 1rem;
} 


 @media(max-width:568px){
    .list-item{ 
        width: 200vw;
    }
    .product-itemz-image{
        width: 200vw;
    }
    .open-btn{
        left: 8vw;
    }
}
/* css from module */
.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: none;
    cursor: pointer;
    border: none;
  }
  
  .menu-item.active {
  }
   
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }



  /* scroll from slack */
  .sliderwrapper{
      display: flex;
      justify-content: center;
  }
  .product-itemzz-changed{
    width:21.875em;
    height:17.5em;
  }
  .product-itemzz-body{
      height: 9.75rem;
      width: 21.875rem;
  }
  .left{
    display:flex;
   }
   #left-button{
    margin:auto;
   }
   #right-button{
    margin:auto;
   }
   .internal{
    width: 31.75%;
    height: 100%;
    display: inline-block;
   }
   
   .center{ 
    width: 90%;
    max-width: 808px;
    padding: 20px 0px;
    height: 60%;
    margin: 1px;
    overflow: hidden;
    /*will change this to hidden later to deny scolling to user*/
    white-space: wrap;
   }
   .blackbox {
    position: relative;
    top: -4px;
}
   .product-item{
       width:300px;
       height:220px;
   }
   .prod-status-container{
       display:flex;
       justify-content:space-between;
   }
   .open-btn{
    background: white;
    font-weight: 100;
    font-size:12.3px;
    color:  rgb(67,160,71);
    border: 2px solid;
    border-radius: 2rem;
    border-color: rgb(67,160,71);
    width: 90px;
    border-width: 2px;
    padding: 8px 14px;
    left:13.1rem;
    position: relative;
    top: -14px;
}
.open-btn:hover{
    background: white;
    text-decoration: none;
}
@media(max-width:370px){
    .closed-btn{
        padding: 8px 11px;
    }
}
.closed-btn{
    background: white;
    font-size:12.3px;
    font-weight: 100;
    color:  #9B0000;
    border: 2px solid;
    width: 90px;
    border-radius: 2rem;
    border-color: #9B0000;
    position: relative;
    top: -14px;
    left:13.1rem;
    border-width: 2px;
    padding: 8px 14px;
    margin-top:-1px;
}
.closed-btn:hover{
    text-decoration: none;
}
.shiftbtn{
    left: 4px;
}
/* .closed-btn:hover{
    background: white;
    font-size:12.3px;
    font-weight: 100;
    color:  #9B0000;
    border: 2px;
    border-radius: 2rem;
    border-color: #9B0000;
} */

/* .closed-btn{
    background: white;
    color:  #9B0000;
    border-color: #9B0000;
    width: 90px;
    background: white;
    font-size:11px;
    font-weight: 100;
    border-width: 2px;
    border: 2;
    padding: 1px 5px 1px 5px;
    margin-top:-1px;
    position: relative;
    top: -14px;
    margin-right:4px;
}
.closed-btn:hover{
    color:  #9B0000;
    border-color: #9B0000;
    background: white;
    font-weight: 100;
    text-decoration: none;
    color:  rgb(67,160,71);
    border: 2;
    border-radius: 2rem;
    border-color: rgb(67,160,71);
} */

.coming-btn{
    background: white;
    font-size:12.3px;
    font-weight: 100;
    color:  #FFBF00;
    border: 2px solid;
    width: 90px;
    border-radius: 2rem;
    border-color: #FFBF00;
    position: relative;
    top: -14px;
    left:12.9rem;
    border-width: 2px;
    padding: 8px 14px;
}
.load-text-home{
    left: -131px;
}
.coming-btn:hover{
    color:  #FFBF00;
    text-decoration: none;
}
    .info-tip-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .fa-info-circle{
        font-size: 19px;
        padding-right: 10px;
    }

   .right{ 
    display: flex;
   }
   /* Arrows */