.firstwrapperstats{
    display: flex;
    justify-content:space-between;
}
.admin-stats-wrapper{
    background-image: url('../../../assets/backgroundlogo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding: 1rem 0rem;
}
.secondstatsboxfirstpage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: space-around;
    background: #43a047;
    border-radius: 1rem;
    background: linear-gradient(to right,#43a047,#205E23);
    font-weight: 500;
    font-size: 16px;
    padding: 1rem 1rem;
    opacity: 0;
    margin-top: 1rem;   
    color: #ffffff;
}
.logostats{
    width: 90px;
    height: 50px;
    display: none;
}
@media(max-width:508px){
    .admin-stats-wrapper{
        margin-left: 1em;
    }
}
@media(min-width:508px){
    .logostats{
        display: block
    }
}
.firststatscol{
    padding:0px;
}
.firststatsbox{
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: space-between;
    background: #43a047;
    border-radius: 1rem;
    background: linear-gradient(to right,#43a047,#205E23);
    font-weight: 500;
    font-size: 16px;
    padding: 1.4rem 1rem;
    color: #ffffff;
}
.secondstatsboxwhite{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: space-around;
    color: #205E23;
    border-radius: 1rem;
    /* background: linear-gradient(to right,#43a047,#205E23); */
    font-weight: 500;
    font-size: 16px;
    padding: 1rem 1rem;
    background: transparent;   
}
.secondstatsbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: space-around;
    background: #43a047;
    border-radius: 1rem;
    background: linear-gradient(to right,#43a047,#205E23);
    font-weight: 500;
    font-size: 16px;
    padding: 1rem 1rem;
    margin-top: 1rem;   
    color: #ffffff;
}
.secondstatsbox2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: space-around;
    background: #43a047;
    border-radius: 1rem;
    background: linear-gradient(to right,#43a047,#205E23);
    font-weight: 500;
    font-size: 16px;
    padding: 1rem 1rem;
    margin-top: 1rem;   
    color: #ffffff;
    opacity: 0;
}
.secondstatsbox1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20rem;
    justify-content: space-between;
    background: #43a047;
    border-radius: 1rem;
    background: linear-gradient(to right,#43a047,#205E23);
    font-weight: 500;
    font-size: 16px;
    padding: 2rem 1rem;
    color: #ffffff;
}

.ournumbers{
    line-height: 1;
    font-size: 28px;
    padding-bottom: .5rem;
}
.ourtext{
    color: rgb(115,234,134);
}
.ourtextname{
    color: rgb(115,234,134);
    font-size: 19px;
}
/* #205E23 */
.totalusers{
    font-size: 16px;
    color: rgb(115,234,134)
}
.borderlineclass{
    border-top: 1px solid #7a7878;
}
.totalusersnumber{
    padding-top: .5rem;
    font-size: 16px;
}
.bottomspace{
    margin-bottom: 1.4rem;
}
.totalusersnumber{
    padding-top: .5rem;
    font-size: 16px;
}
.totalusersnumber1{
    font-size: 38px;
    margin: 0%;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
}
.prevclass{
    font-size: 15px;
    cursor: pointer;
    color: #444444;
    text-align: right;
    justify-content: flex-end;
}
.ourcash{
    background: rgb(63,88,66);
    color: #ffffff;
    padding: 0.2rem 0.4rem;
    font-weight: 500;
    width: max-content;
    border-radius: 1rem;
}